.main-block {
    margin-top: 8%;
    margin-left: 5%;
    max-width: 90%;
}

.user-block {
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

.news-content {
    margin-left: 1%;
    margin-down: 1%;
}

.likes-dislikes {
    float: left;
    margin-top: 3%;
    margin-left: 1%;
    max-width: 5%;
    max-height: 5%;
}