{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news_id.css') }}">
{% endblock %}

{% block title %}Travel Like - News{% endblock %}

{% block body %}
<div class="main-block">
    <div class="border border-4 border-info">
        <div class="new-block">
            <div class="border border-5 border-warning">
                <div class="user-block">
                    <img src="{{ news_data['user_image'] }}" style="width: 40px;height: 40px;" class="rounded-circle">
                </div>
                <div class="user-block">
                    <h4>{{ news_data['user_nickname'] }}</h4>
                </div>
                <div class="user-block">
                    <p style="position: absolute;right: 6%;">{{ news_data['created_date'] }}</p>
                </div>
            </div>
                <div style="clear: both;"></div>
                <div class="news-content">
                    <h3 style="text-align: center;">{{ news_data['title'] }}</h3>
                    <p>{{ news_data['content'] }}</p>
                </div>
            <div class="news-image" style="text-align: center;">
                <img src="{{ news_data['image'] }}" alt="Приложенное к новости изображение" style="max-width: 70%;">
            </div>
        </div>
        <div class="likes-dislikes">
            <a class='btn btn-primary' href="/set_like/{{ news_data['id'] }}" style="width: 5%;height: 5%;"><img src="{{ url_for('static', filename='img/like.png') }}"  style="max-width: 5%;max-height: 5%;"></a>
        </div>
        <div class="likes-dislikes">
            <h3 style="color: green;">{{ news_data['likes'] }}</h3>
        </div>
        <div class="likes-dislikes">
            <a class='btn btn-primary' href="/set_dislike/{{ news_data['id'] }}" style="width: 5%;height: 5%;"><img src="{{ url_for('static', filename='img/dislike.png') }}" style="max-width: 5%;maxheight: 5%;"></a>
        </div>
        <div class="likes-dislikes">
            <h3 style="color: red;">{{ news_data['dislikes'] }}</h3>
        </div>
    </div>
</div>
{% endblock %}
