{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block title %}Travel Like{% endblock %}

{% block body %}
<div class="main-block">
    <img src="{{ url_for('static', filename='img/background.jpg') }}" class="background-img">
    <div class="main-text">
        <h1>Travel Like - все о путешествиях в одном месте!</h1>
        <h2 style="margin-top: 5%;max-width: 90%;">В разделе с новостями вы можете поделиться и посоветовать любое понравившиеся место, в котором вы побывали.</h2>
    </div>

</div>
{% endblock %}
